.card {
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    height: 200px;
    max-height: 35vh;
    margin: 20px;
    text-align: center;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important;
}

.cardImageSize {
    width: 50%;
    height: 50%;
}

.cardimgtop {
    transform:scale(1);
    display: inline-block;
}

.cardimgtop:hover {
    transform:scale(1.8);
}
